<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head> <!--Se definen los cuerpos del documento, incluida la codificación de caracteres, la compatibilidad con IE y el viewport para dispositivos móviles-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-3">
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Se ha registrado correctamente.
                    </div>
                </div>
                <h1>Formulario de registro</h1> <!--Se define el título del documento-->
                <form th:action="@{/registro/superadmin}" method="post" th:object="${usuarioregistro}">
                    <div class="form-group"> <!--Se crea formulario con cada uno de los siguientes id´s-->
                        <label for="cedula">Id</label>
                        <input type="number" class="form-control" id="cedula" th:field="*{cedula}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" th:field="*{apellido}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" class="form-control" id="correo" th:field="*{correo}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="clave">Clave</label>
                        <input type="password" class="form-control" id="clave" th:field="*{clave}" required autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Registrar</button> <!--Se define un botón de tipo "submit" para enviar el formulario-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>