@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #4b4b4b;
  padding-bottom: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav.navbar {
  position: fixed;
  background-color: rgb(52, 73, 94, 0);
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  height: 8vh;
  transition: all 0.3s ease-in-out;
}

.nav.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.nav.nav.navbar a.btn:hover {
  color: #34495e;
}

.navbar.active {
  background-color: #183446;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active a {
  color: #ffffff;
}

.navbar a.current,
.navbar a:hover {
  color: #ffffff;
}

.hero {
  background-image: url("../sources/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.col-md-10 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*------------Estilos del menu de paginas------------*/

section.content {
  max-width: 100vw;
  height: 87vh;
}

/*------------Estilos botones------------*/

.nav-pills button.nav-link.active {
  background-color: #62929e;
  color: #fff;
}

.nav-pills button.nav-link {
  color: #62929e;
}

.nav-item .nav-link {
  color: #62929e;
}

.nav-item .nav-link:hover {
  color: #62929e;
}

/*------------estilos formularios registro------------*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/*------------Estilos titulo pagina------------*/

.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.logo .tittle-logo {
  width: 250px;
  height: 40px;
}

.logo .subtittle-mini {
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
}

.logo img {
  width: 30px;
  height: 30px;
}

/*------------estilos botones formularios------------*/

.btn.btn-success {
  background-color: #20bf55;
  border-color: #20bf55;
}

.btn.btn-danger {
  background-color: #eb4d4b;
  border-color: #eb4d4b;
}

.paginate_button.active .page-link {
  background-color: #62929e;
  border-color: #62929e;
}

.paginate_button .page-link {
  color: #62929e;
}

.paginate_button.active .page-link:hover {
  color: #ffffff;
}
.paginate_button .page-link:hover {
  color: #39555c;
}
