<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"> <!--Este es el elemento raíz HTML. Incluye el atributo "lang", que especifica el idioma del documento, y el atributo "xmlns:th", que se utiliza para Thymeleaf, un motor de plantillas Java del lado del servidor. -->
  <head>
    <meta charset="UTF-8" /> <!--Esto especifica la codificación de caracteres utilizada en el documento, que es UTF-8 en este caso.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--Esta metaetiqueta se usa para especificar cómo se debe representar el contenido en diferentes dispositivos.-->
    <link rel="stylesheet" href="css/user-style.css" th:href="@{/css/user-style.css}"/> <!--Esta es una etiqueta de enlace que enlaza con un archivo CSS externo llamado "user-style.css".-->
    <link href="css/bootstrap.min.css" rel="stylesheet"/> <!--Esta es otra etiqueta de enlace que enlaza con un archivo CSS externo llamado "bootstrap.min.css" que se usa para diseñar la página web.-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> <!--Esta es otra etiqueta de enlace que enlaza con una versión diferente del archivo CSS de Bootstrap que se carga desde una CDN (red de entrega de contenido).-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'> <!--Esta es una etiqueta de enlace que enlaza con un archivo CSS externo para un conjunto de iconos.-->
    <script src="javascript/smooth-scroll.polyfills.min.js"></script> <!--Esta es una etiqueta de secuencia de comandos que se vincula a un archivo JavaScript externo que se utiliza para desplazarse sin problemas por la página web.-->
    <title>Portal de Estudio José de Alejandría</title> <!--Este es el título de la página web que se muestra en la barra de título del navegador.-->
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    <!--La etiqueta <svg> contiene varios símbolos definidos en formato SVG que se utilizan dentro del visual de la pagina-->
    <nav class="navbar">
      <div class="container">
        <h1 class="logo"><a th:href="@{/admin}">PEJA</a></h1>
        <ul>
          <li><a href="#" class="current">Inicio</a></li>
          <li><a href="#tools">Herramientas</a></li>
          <li><button type="button" class="btn-close btn-close-white" aria-label="Close"><a th:href="@{/logout}"></a></button></li>
        </ul>
      </div>
    </nav>
    <!--La etiqueta <nav> define la barra de navegación superior de la página.-->

    <div class="hero">
      <div class="container">
        <h1>Bienvenido</h1>
        <p><q>Si haces planes para un año, siembra arroz. Si los haces por dos lustros, planta árboles. Si los haces para toda la vida, educa una persona.</q><br> Proverbio chino</p>
      </div>
    </div>
    <!--Es un contenedor de la sección principal de la página que contiene un mensaje de bienvenida-->

    <section id="tools" class="container content">
      <ul class="nav nav-tabs" id="myTab" role="tablist">

	<!--A continuacion se realizan botones-->
	<!--Cada elemento de la siguiente lista está representado por una etiqueta "li" con la clase "nav-item" y su función de "role" como "presentation". Dentro de cada "li", hay un botón con la clase "nav-link" y un identificador específico que corresponde a su pestaña elemento correspondiente.-->

        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Administradores</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Docentes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Estudiantes</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent" style="margin:30px 30px">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Adicionar</button>
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Lista</button>
            </div>
            <div class="tab-content w-100" id="v-pills-tabContent">
		      <!--Las siguientes lines representan dentro del div del panel activo, hay cuatro elementos div que solo se mostrarán si se cumplen ciertas condiciones, según lo determinado por el atributo Thymeleaf. Si el parámetro "successChange" es verdadero, se mostrará un div de alerta con la clase "alert-info" con un mensaje de éxito que indica que se ha realizado un cambio. Lo mismo ocurre con los parámetros "successDelete" y "success", con diferentes mensajes mostrados en cada caso. Si el parámetro "fallo" es verdadero, se mostrará un div de alerta con la clase "alerta-peligro" con un mensaje que indica que se ha producido un error. -->
              <div class="tab-pane fade show active p-3" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="col-md-offset-3">
                          <div th:if="${param.successChange}">
                            <div class="alert alert-info">
                              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                Se ha modificado con exito.
                            </div>
                          </div>
                          <div th:if="${param.successDelete}">
                            <div class="alert alert-info">
                              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                Se ha eliminado con exito.
                            </div>
                          </div>
                          <div th:if="${param.success}">
                              <div class="alert alert-info">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                  Se ha registrado correctamente.
                              </div>
                          </div>
                          <div th:if="${param.failure}">
                            <div class="alert alert-danger">
                              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                Ha ocurrido un error.
                            </div>
                        </div>
                          <p class="text-center fs-2">Formulario de registro</p>
                            <form th:action="@{/registro/admin}" method="post" th:object="${usuarioregistro}" th:if="${modificar} == false" onsubmit="validate(event)"> <!--Inicia un formulario con la acción especificada por el atributo "th:action", método "POST", objeto "usuarioregistro" y validación personalizada de JavaScript al enviar el formulario.-->
                              <div class="form-floating mb-3"> <!--Inicia una sección con estilo para un control de formulario con un margen inferior de 3.-->

                                <input type="number" class="form-control" id="cedula" required placeholder="1111111111" th:field="*{cedula}" autofocus="autofocus" > <!--Crea un campo de entrada de número con un estilo de formulario, un ID de "cedula", requerido, un marcador de posición de "1111111111", un enlace a la variable de modelo "cedula" y un enfoque automático en la carga de la página.-->
                                <label for="cedula">Cedula</label>
                              </div>
                              <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="nombre" placeholder="Pepito" th:field="*{nombre}" required autofocus="autofocus">
                                  <label for="nombre">Nombre</label>
                              </div>
				                <!-- Despues de la cedula repite para cada uno de los campos de entrada restantes, con diferentes atributos de "type", "id", "placeholder", "th:field", "label for", etc-->
                              <div class="form-floating mb-3">
                                  <input type="text" class="form-control" id="apellido" placeholder="Pepo" th:field="*{apellido}" required autofocus="autofocus">
                                  <label for="apellido">Apellido</label>
                              </div>
                              <div class="form-floating mb-3">
                                  <input type="email" class="form-control" id="correo"  placeholder="name@example.com" th:field="*{correo}" required autofocus="autofocus">
                                  <label for="correo">Correo</label>
                              </div>
                              <div class="form-floating mb-3">
                                  <input type="password" class="form-control" id="clave" placeholder="12345678" th:field="*{clave}" required autofocus="autofocus" minlength="8" maxlength="12">
                                  <label for="clave">Clave</label>
                              </div>
                              <br>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-primary">Registrar</button> <!-- Se genera el apartado registrar usuario-->
                              </div>
                            </form>

                          <form th:action="@{/registro/admin/mod}" method="post" th:object="${usuarioregistro}" th:if="${modificar} == true" onsubmit="validate(event)">
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="cedula" required placeholder="1111111111" th:field="*{cedula}" autofocus="autofocus" >
                              <label for="cedula">Cedula</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="Pepito" th:field="*{nombre}" required autofocus="autofocus">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="apellido" placeholder="Pepo" th:field="*{apellido}" required autofocus="autofocus">
                                <label for="apellido">Apellido</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="correo"  placeholder="name@example.com" th:field="*{correo}" required autofocus="autofocus" disabled>
				                <!--Elemento con clase form-floating mb-3que contiene un inputelemento de tipo emailcon id correo, texto de marcador de posición " nombre@ejemplo.com " y atributo obligatorio. También tiene un th:fieldatributo con la expresión *{correo}que vincula el valor de entrada a la correopropiedad del usuarioregistroobjeto. El autofocusatributo establece el foco en esta entrada cuando se carga la página, y el disabledatributo deshabilita el campo de entrada para que no se pueda editar. También tiene un labelelemento que muestra la etiqueta "Correo" para esta entrada.-->
                                <label for="correo">Correo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="clave" placeholder="12345678" th:field="*{clave}" required autofocus="autofocus" minlength="8" maxlength="12"> <!--Elemento con clase form-floating mb-3que contiene un inputelemento de tipo passwordcon id clave, texto de marcador de posición "12345678" y atributo obligatorio.-->
                                <label for="clave">Clave</label>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Modificar</button>
                            </div>
                          </form>
                      </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"> <!--la etiqueta final de un elemento de formulario que se utiliza para modificar la información del usuario.-->
                <table class="table table-bordered">
                  <thead>
                    <tr>
			         <!--Elemento div con clase "contenido de pestaña" que contiene dos paneles de pestañas, uno con id "v-pills-home" y otro con id "v-pills-profile".-->
                      <th scope="col">Apellido</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Documento de identidad</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Opciones</th>
                    </tr>
                  </thead>
                  <tbody> <!--Elemento tbody que contiene un bucle que usa el atributo Thymeleaf th:each para mostrar la información del usuario en las filas de la tabla-->
                    <tr th:each="user : ${usuariosAdmin}">
                      <td th:text="${user.apellido}">ND</td>
                      <td th:text="${user.nombre}">ND</td>
                      <td th:text="${user.cedula}">ND</td>
                      <td th:text="${user.correo}">ND</td>
                      <td>
			            <!--Elemento de etiqueta de anclaje para cada fila de la tabla que incluye un atributo href con el enlace apropiado para editar o eliminar el usuario-->
                        <a th:href="@{/admin/}+${user.correo}" style="text-decoration:none;color:#000"><i class="fi fi-rr-pencil"></i></a>
                        <a th:href="@{/admin/}+${user.correo}+@{/delete}" style="text-decoration:none;color:#000"><i class="fi fi-rr-trash"></i></a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">docente</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">estudiante</div> -->
      </div>
    </section>
    <script th:src="@{/javascript/jquery-3.6.0.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script
    src="/javascript/bootstrap.bundle.min.js"
    th:src="@{/javascript/bootstrap.bundle.min.js}"
  ></script>
    <script src="javascript/navbar.js" th:src="@{/javascript/navbar.js}"></script>
    <script src="javascript/main.js" th:src="@{/javascript/main.js}"></script>
  </body>
</html>